#demo
    padding: 60px 0
    .box
        border-radius: 25px
        padding: 20px
        background: #9c6644
        h1
            font-size: 30px
            color: #ffff
            font-weight: 700
        input
            margin: 20px 0
        input,.btn
            background-color: #ffff
            border-radius: 15px
            padding: 10px
        .btn
            padding: 5px 18px
    .textbox
        width: 50px
        h2
            font-size: 20px
            margin-top: 10px
            border: 1px solid #000
            border-radius: 5px
            
            