#inputme
    padding: 60px 0
    .box
        width: 270px
        border-radius: 30px
        padding: 30px
        background: #9c6644
        margin-bottom: 35px
        h1
            font-size: 50px
            color: #ffff
            font-weight: 700
        input
            margin: 25px 0
        input,.btn
            background-color: #ffff
            border-radius: 20px
            padding: 15px 20px
        .btn
            padding: 5px 20px
    .minibox
        h2
            font-size: 20px
            width: 160px
            padding: 7px 30px
            margin: 10px 0
            border-radius: 20px
            border: 2px solid #3f3764
            word-wrap: break-word
